DOMAIN=fromnowhere.net
ENV_PUID=1000
ENV_PGID=1000
SERVICES_DIR=/mnt/storage/docker/data
DATA_DIR=/mnt/storage/docker/data

SUB_DOMAIN_JELLYFIN=jellyfin
SUB_DOMAIN_SEERR=seerr
SUB_DOMAIN_RADARR=radarr
SUB_DOMAIN_SONARR=sonarr
SUB_DOMAIN_PROWLARR=prowlarr
SUB_DOMAIN_PROFILARR=profilarr
SUB_DOMAIN_BAZARR=bazarr
SUB_DOMAIN_DECYPHARR=decypharr
SUB_DOMAIN_SABNZBD=sabnzbd